# **************************************************************************** #
#                               COMPILATION FILES                              #
# **************************************************************************** #

*.o
*.a
*.so
*.out
*.gch

# Executables
webserv
a.out

# **************************************************************************** #
#                                BUILD SYSTEM                                  #
# **************************************************************************** #

Makefile.old
*.d

# **************************************************************************** #
#                                 DEBUG FILES                                  #
# **************************************************************************** #

*.log
*.txt
vgcore.*
core
*.core

# Valgrind
valgrind-out.txt

# **************************************************************************** #
#                                IDE / EDITOR                                  #
# **************************************************************************** #

# VSCode
.vscode/

# CLion / IntelliJ
.idea/
cmake-build-*/

# Vim
*.swp
*.swo

# Emacs
*~

# **************************************************************************** #
#                               SYSTEM FILES                                   #
# **************************************************************************** #

.DS_Store
Thumbs.db

# **************************************************************************** #
#                              TEST / TEMP FILES                               #
# **************************************************************************** #

tmp/
temp/
*.tmp

# **************************************************************************** #
#                               UPLOADS (OPTIONAL)                             #
# **************************************************************************** #

www/uploads/*
!www/uploads/.gitkeep

# **************************************************************************** #
#                               CONFIG OVERRIDES                               #
# **************************************************************************** #

*.local.conf